.logo {
  position: fixed;
  z-index: 1000;
  width: 250px;
  padding: 5px 0;
  left: 10%; }

#btn_menu {
  display: none; }

header label {
  font-size: 20px;
  font-family: "Josefin Sans", sans-serif;
  display: none; }

.menu {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  z-index: 2; }
  .menu ul {
    width: 90%;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end; }
    .menu ul li a {
      color: #fff;
      text-decoration: none;
      padding: 20px 20px;
      display: block;
      font-family: "Josefin Sans", sans-serif;
      font-size: 20px; }
    .menu ul li a:hover {
      background-color: #fff;
      color: #000; }

.selected a {
  background-color: #000; }

.bar-div {
  width: 100%;
  height: 10px;
  background-color: #066ada; }

.img-bg {
  width: 100%;
  height: 500px;
  background-color: blue;
  background-image: url(../images/bg.jpg);
  background-size: 100%;
  background-attachment: fixed;
  background-repeat: repeat; }

.cont-1 {
  margin: 0 auto;
  width: 80%;
  height: 100%;
  padding: 30px 0 0 0; }
  .cont-1 h1 {
    font-weight: normal;
    margin: 0 auto;
    width: 100%;
    background-color: #066ada;
    padding: 10px 0;
    text-align: center;
    font-family: "Josefin Sans", sans-serif;
    font-size: 30px;
    color: #fff; }
  .cont-1 .ad-1 {
    z-index: 0;
    width: 100%; }
  .cont-1 .parag-1 {
    padding: 10px 0 10px 0;
    text-align: justify;
    text-indent: 75px;
    font-family: "Josefin Sans", sans-serif;
    font-size: 20px; }
  .cont-1 .parag-2 {
    padding: 5px 0;
    font-size: 25px;
    font-weight: bold;
    text-indent: 0;
    text-align: center;
    background-color: #066ada;
    color: #fff; }
  .cont-1 .btn-voltar {
    z-index: 100000;
    position: fixed;
    width: 130px;
    height: 50px;
    background-color: rgba(255, 0, 0, 0.5);
    border-radius: 5px;
    bottom: 4%;
    right: 3%;
    display: none; }
  .cont-1 .btn-voltar:hover {
    background-color: #f90;
    box-shadow: 1px 1px 5px #000; }
  .cont-1 .btn-voltar-link {
    display: block;
    width: 100%;
    height: 100%;
    line-height: 50px;
    text-align: center;
    color: #fff;
    text-decoration: none;
    font-size: 0.8em; }

.persona {
  width: 30.5%;
  margin: 2% 0 2% 2%;
  border: 1px #ededed solid;
  height: 500px;
  display: inline-block;
  float: left;
  text-align: center;
  color: #000;
  cursor: pointer; }
  .persona h2 {
    padding: 10px 0;
    font-family: "Josefin Sans", sans-serif; }
    .persona h2 span {
      font-family: "Josefin Sans", sans-serif;
      font-size: 10px; }
      .persona h2 span a {
        color: #066ada;
        text-decoration: none;
        font-family: "Josefin Sans", sans-serif;
        font-size: 10px; }
      .persona h2 span a:hover {
        color: #f90;
        text-decoration: underline; }
  .persona img {
    border: 3px solid #fff;
    width: 90%;
    transition: 0;
    box-shadow: 1px 1px 10px #000; }
  .persona p {
    text-align: justify;
    font-size: 18px;
    padding: 0 5%;
    font-family: "Josefin Sans", sans-serif; }
    .persona p span a {
      color: #066ada;
      text-decoration: none;
      font-weight: bold;
      font-family: "Exo 2", sans-serif;
      text-transform: uppercase;
      text-align: right;
      font-size: 12px; }
    .persona p span a:hover {
      color: #f90;
      text-decoration: underline; }

.persona:hover {
  box-shadow: 1px 1px 10px #000;
  border: 1px #fff solid;
  color: #fff; }
  .persona:hover img {
    border: 3px solid #fff; }
  .persona:hover a {
    color: #fff; }

.persona-bg {
  width: 75%;
  border-radius: 10px;
  overflow: hidden;
  margin: 20px auto; }
  .persona-bg img {
    float: left;
    width: 100%; }

.persona-1:hover {
  background-color: grey;
  color: #fff; }

.persona-2:hover {
  background-color: blue;
  color: #fff; }

.persona-3:hover {
  background-color: purple;
  color: #fff; }

.persona-4:hover {
  background-color: green; }

.persona-5:hover {
  background-color: grey; }

.persona-6:hover {
  background-color: orange; }

@media screen and (min-width: 768px) and (max-width: 1000px) {
  .logo {
    top: 15%;
    position: absolute;
    width: 90%; } }
@media screen and (min-width: 0px) and (max-width: 768px) {
  .logo {
    top: 10%;
    position: absolute;
    width: 90%; }

  header label {
    z-index: 100000;
    display: block;
    background-color: #b90000;
    padding: 20px;
    cursor: pointer; }
    header label .barrinha {
      width: 20px;
      height: 3px;
      background-color: #000;
      position: absolute;
      background-color: #fff;
      transition: all 0.3s linear; }
    header label .barrinha:after {
      position: absolute;
      content: "";
      width: 20px;
      height: 3px;
      top: 5px;
      left: 0;
      background-color: #fff;
      transition: all 0.3s linear; }
    header label .barrinha:before {
      position: absolute;
      content: "";
      width: 20px;
      height: 3px;
      top: -5px;
      left: 0;
      background-color: #fff;
      transition: all 0.3s linear; }

  .menu {
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
    z-index: 1000; }
    .menu ul {
      position: absolute;
      width: 100%;
      flex-direction: column;
      margin-left: -100%;
      transition: 0.2s; }
      .menu ul li a {
        text-align: center;
        background-color: rgba(185, 0, 0, 0.8); }

  #btn_menu:checked ~ .menu ul {
    margin-left: 0; }

  #btn_menu:checked ~ label .barrinha {
    background-color: transparent; }

  #btn_menu:checked ~ label .barrinha:before {
    transform: translate(0px, 5px) rotate(45deg); }

  #btn_menu:checked ~ label .barrinha:after {
    transform: translate(0px, -5px) rotate(-45deg); }

  .img-bg {
    width: 100%;
    height: 300px;
    background-size: 100%;
    background-attachment: fixed;
    background-position: top; }

  .cont-1 {
    margin: 0 auto;
    width: 90%;
    height: 100%;
    padding: 30px 0 0 0; }
    .cont-1 .btn-voltar {
      width: 10%;
      height: 100px;
      bottom: 4%;
      right: 0;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0; }
    .cont-1 .btn-voltar-link {
      font-size: 0.8em;
      line-height: 100px; }

  .persona {
    width: 300px;
    height: 100%; } }

/*# sourceMappingURL=home.css.map */
